# dependencies
/node_modules

#minio
/data

# IDE
/.idea
/.awcache
/.vscode
.env
.env-prod
docker-compose-dev.yml

# misc
npm-debug.log

# example
/quick-start

# tests
/coverage
/.nyc_output

# dist
/dist