<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Foot Event Alert</title>
</head>
<body>
    <h1>Foot Event Alert!</h1>
    <p>Hello,</p>
    <p>This is an automated email notification for a foot event.</p>
    <p>Event code: {{code}}</p>
    <p>Thank you!</p>
</body>
</html>
